fastapi
uvicorn[standard]
python-dotenv
groq
pydantic
langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
pypdf
python-multipart
streamlit
pytest
httpx
langgraph
